<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link href="/static/css/bootstrap-4.0.0.css" rel="stylesheet" type="text/css">
</head>
<body>



<div class="container-fluid">

    	<nav class="navbar  navbar-expand-lg navbar-light bg-light"> <a class="navbar-brand" href="#">顺林后台信息系统</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"> <a class="nav-link" href="http://chinashunlin.com:8001">回到主页 <span class="sr-only">(current)</span></a> </li>
      <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 我的事务 </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">

                {% for item,url in worklist %}
                    <a class="dropdown-item" href="{{ url }}">{{ item }}</a>

                {% endfor %}


          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">修改密码</a> </div>
      </li>
      <li class="nav-item"> <a class="nav-link disabled" href="#">敬请等待</a> </li>
    </ul>

  </div>
<nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    你已登陆，<strong>{{ username }},{{ groupname }}</strong><a href="http://chinashunlin.com:8001/logout" style="color: blue"> 登出</a>
	</span>


</nav>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
</nav>

    <h1 class="text-dark text-center">{{ subject_d.subjectshortname }}</h1>


    <div class="card col-8 offset-2">
        <div class="card-header bg-success text-white ">材料监控</div>

            {% for i,j,k in sortL %}
            <label for="{{ i }}">{{ i }}</label>
                <div class="progress" id="{{ i }}">

                <div class="progress-bar" role="progressbar" style="width: {% widthratio j maxsum 100 %}%" aria-valuenow="{% widthratio j maxsum 100 %}" aria-valuemin="0" aria-valuemax="100">{% widthratio j 1 1.00 %}</div>
                <div class="progress-bar bg-success" role="progressbar" style="width: {% widthratio k maxsum 100 %}%" aria-valuenow="{% widthratio k maxsum 100 %}" aria-valuemin="0" aria-valuemax="100">{% widthratio k 1 1.00 %}</div>

            </div>



            {% endfor %}


        </div>





</div>


</div>









<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap-4.0.0.js"></script>
</body>
</html>
